<% content_for(:title) do %>
  List of Profiles
<% end %>
<% content_for :page_content do %>
  <h1>This is the index page for all profiles</h1>
  <% @users.each do |u|%>
  <%= link_to u.full_name, profile_path(u) %>
  <% end %>
<% end %>