<% content_for(:title) do %>
  Your Notifications
<% end %>
<%= turbo_frame_tag id="notification-dropdown" do %>
  <% if @notifications.blank? %>
    <div class="notification-listing">
      <div class="notification-header">
        No new notifications!
      </div>
    </div>
  <% else %>
    <%= render  "form", notifications: @notifications %>
  <% end %>
<% end %>
