<div class="like-box">
  <%= link_to eval("#{content.class.name.downcase}_likes_path(content)"), method: :post, target: "_top", data: { turbo: false } do %>
    <% if (content.likes.map{|like| like.like_author}).include?(Current.user) %>
      <span class="material-icons like-on">thumb_up</span>
    <% else %>
      <span class="material-icons like-off">thumb_up</span>
    <% end %>
  <% end %>
  <div class="like-count">
    <%= pluralize(content.likeable_count, 'like') %>
  </div>
</div>
