<% content_for(:title) do %>
  List of Profiles
<% end %>

<% content_for :page_content do %>
<div class="page-content-parent">
    <h1>List of all profiles by created date:</h1>
  <div class="profile-feed">
  <%= render  "shared/user_index_grid", indexed_users: @users %>
  <% end %>
  </div>
</div>