<% content_for(:title) do %>
  <%= @user.full_name %>'s Profile
<% end %>
<% content_for :page_content do %>
  <h1>This is <%= @user.full_name %>'s Profile</h1>
  Here are all their friends:
<%@user.friends.each do |f|%>
<%= f.full_name %>
<% end %>
<% end %>