<%= turbo_frame_tag id="profile-content", class:"profile-content" do %>
  <%= render "shared/profiles/profile_buttons", profile_owner: profile_owner%>
    <div class="profile-sidebar" id="profile-sidebar">
    SIDEBAR PLACEHOLDER!!
    </div>

    <div class="profile-feed">
    PROFILE FEED PLACEHOLDER FOR GROUP AND USER
    </div>
<% end %>
