/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
 }

:root{
  --blue: #4267B2;
  --light-blue: #8b9dc3;
  --lightest-blue: #dfe3ee;
  --dark-blue: #1f3153;
  --grey: #898F9C;
  --light-grey:#f7f7f7;
  background: var(--light-grey);
}

turbo-frame{
  outline: 6px solid red;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}