// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-parent{
  width: 90%;
  text-align:left;
  margin-left: 20px;
  ul{
  list-style-type: none;}
  a{
    color: var(--pink)
  }
  ul > li {
    margin-left: 50px;
  }
  .nest-layer-12{
    ul > li {
      margin-left: 0px;
    }
  }
  .comment-block{
    margin-bottom: 10px;
    padding: 10px 10px 5px 10px;
    width: 100%;
    min-width: 200px;
    border-radius: 20px;
    color:white;
    background-color: var(--grey);
    .comment-reply{
      overflow-wrap: anywhere;
    .comment-header{
      display: flex;
      gap: 10px;
      height: 50px;
      margin-bottom: 10px;
      .comment-avatar{
        border-radius: 50%;
        outline: 1px solid var(--pink);
      }
      .header-text{
        display: flex;
        flex-flow: row wrap;
      .comment-author{
        flex-basis: 100%;
      }
      .time-text{
        font-weight: 200;
      }
      } 
    }
    .comment-links-parent{
      margin-top: 10px;
      margin-bottom: 10px;
    a{
      text-decoration: none;
      color: white;
      background-color: var(--black);
      padding: 6px;
      border-radius: 10px;
    }
    a:hover{
      background: linear-gradient(to bottom right, var(--blue), var(--pink));
      cursor: pointer;
      outline: 2px solid black;
      text-align: center;
    }
    }
  }
}
  .comment-form{
    max-width: 400px;
    width: 80%;
    margin-top: 20px;
    textarea{
      resize: none;
      width: 80%;
      max-width: 325px;
      border-radius: 10px;
      height: 75px;
    }
  }
}
.new-comment-region{
  margin-bottom: 30px;
  flex-basis: column wrap;
  .comment-reply{
    margin-left: auto;
    margin-right: auto;
  }
  }
.d-none{
  display: none
}

.like-box{
  text-align: center;
  display: inline-block;
  margin-left: auto;
  .like-on{
    color: var(--blue);
  }
  .like-off{
    color: white;
  }
  .like-count{
  font-weight: 200;
  }
}
.comment-form{
  text-align: center;
  display: flex;
  width: 80%;
  flex-flow: column wrap;
  border-radius: 20px;
  color:white;
  background-color: var(--grey);
  margin-bottom:10px;
  textarea{
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 90%;
    border-radius: 10px;
    height: 150px;
    padding: 8px;
  }
  input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    background-color: var(--black);
    padding: 6px;
    border-radius: 10px;
    outline: 2px solid black;
    border: 0;
  }
  input:hover{
    background: linear-gradient(to bottom right, var(--blue), var(--pink));
    cursor: pointer;
    text-align: center;
  }
}

.edit-links{
  display: none;
}