.container {
  display: grid;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  grid-template-rows: auto 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-navbar header-navbar header-navbar"
    "body-content body-content body-content";
  min-height: 100vh;
  justify-items: stretch;
}
.body-content {
  display: grid;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "side-navbar page-content information-content";
  grid-area: body-content;
  width: 100%;
  column-gap: 2%; 
}
.page-content {
  grid-area: page-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-color: var(--grey);
  border-radius: 4px;
  color: black;

  a, a:visited {
    color: var(--blue);
  }
 }
