body {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: auto 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "side-navbar header-navbar information-bar"
    "side-navbar body-content information-bar";
  min-height: 100vh;
  justify-items: stretch;
}
.page-content {
  grid-area: body-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-blue);
  border-color: var(--grey);
  color: black;

  h1{
    color:white
  }
  .page-content-parent{
    width: 98%;
    padding-left: 1%;
  }
 }