.header-navbar {
  display: flex;
  background: var(--blue);
  color: white;
  justify-self: stretch;
  grid-area: header-navbar;
  margin: 0;
  padding: 0;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links a, a:visited {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}