.header-navbar {
  justify-self: stretch;
  grid-area: header-navbar;
  ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
  }
  li {
    display:inline-block
  }
  li a {
    display: block;
    color: grey;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-size: 2vw;
    font-weight: 700;
  }
  li a:hover {
    background-color: grey;
    color: black;
    text-shadow: none;
  }
}
