.header-navbar {
  display: flex;
  background: var(--blue);
  color: white;
  justify-self: stretch;
  grid-area: header-navbar;
  margin: 0;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
}

.header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
}

.links a, a:visited {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}
.top-header-item {
  height: 100%;
  color: white;
  text-decoration: none;
  padding-right: 2%;
  padding-left: 2%;
}
.interactive:hover {
  background-color: var( --light-blue);
}