.information-bar {
  grid-area: information-bar;
  font-size: 1.5em;
  font-weight: 500;
  background-color: var(--black);
  .infobar-parent{
    max-width: 85%;
  }
  .notification-icon{
    font-size: 2em;
    padding: 7px;
    color: var(--grey);
  }
  .notification-icon:hover {
    -webkit-text-fill-color:white;}
  .notif-icons{
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    max-width: 100%;
    .icon{
      position: relative;
      text-decoration: none;
      padding-right: 2%;
      padding-left: 2%;
      margin: auto;
    }
  }
}
.notification-number{
  text-align: center;
  user-select: none;
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  color: white;
  background-color: red;
  line-height: 40px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}