.feed-container{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.new-journal-region{
  width: 100%;
  display: block;
  background-color: var(--grey);
}
.journal-entry{
  width: 100%;
  background-color: var(--grey);
  border-radius: 20px;
  color:white;
  min-height: max-content;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(56, 18, 42, 0.2), 0 6px 20px 0 rgba(56, 18, 42, 0.19);
}