.feed-container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.new-journal-region {
  width: 100%;
  display: block;
  background-color: var(--grey);
  border-radius: 10px;
}
.journal-entry {
  width: 100%;
  background-color: var(--grey);
  border-radius: 20px;
  color: white;
  height: max-content;
  box-shadow: 0 4px 8px 0 rgba(56, 18, 42, 0.2), 0 6px 20px 0 rgba(56, 18, 42, 0.19);
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 10px;
}
.full-entry {
  max-height: max-content;
}
.journal-entry-avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  outline: 2px solid var(--pink);
  vertical-align: top;
}
.larger-avatar {
  width: 48px;
  height: 48px;
}
.journal_image_field input {
  display: none;
}
.image_upload_icon:hover {
  cursor: pointer;
}
.journal_image_field {
  display: inline-block;
}

.journal-header {
  text-align: left;
  padding: 15px 0 0 15px;
  flex-basis: 100%;
  display: flex;

  .header-text {
    margin-left: 10px;
    display: inline-block;
  }
}
.tagged {
  display: inline;
}
.journal-body {
  text-align: left;
  padding: 15px 15px 5px 15px;
  overflow-wrap: break-word;
}
.journal-likes {
  align-self: flex-end;
  text-align: right;
  display: inline-block;
  margin-left: auto;
  margin-right: 15px;
  flex-wrap: nowrap;
}
.journal-image-attch {
  border-radius: 20px;
  display: block;
  margin: 0 auto 5px auto;
  padding-bottom: 5px;
  max-width: 80%;
}
.comment-box {
  text-align: center;
  display: inline-block;
}
.comment-count {
  font-weight: 200;
}

.new-journal-form-base {
  textarea {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 90%;
    border-radius: 10px;
    height: 150px;
    padding: 8px;
  }
  input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    background-color: var(--black);
    padding: 6px;
    border-radius: 10px;
    outline: 2px solid black;
    border: 0;
  }
  input:hover {
    background: linear-gradient(to bottom right, var(--blue), var(--pink));
    cursor: pointer;
    text-align: center;
  }
  .profile-content-flex {
    display: inline-block;
  }
  div.profile-content-flex:nth-child(1) > div:nth-child(1) {
    align-items: start;
  }
  div.profile-content-flex:nth-child(4) > div:nth-child(1) {
    justify-content: start;
    align-items: start;
  }
  div.profile-content-flex:nth-child(3) > div:nth-child(1) {
    justify-content: start;
  }
}
