// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-page {
  display: grid;
  grid-template-columns: minmax(0, auto) auto;
  grid-template-rows: 400px auto;
  gap: 0px 0px;
  grid-template-areas:
    "profile-banner profile-banner"
    "profile-content profile-content";
  background-color: var(--dark-blue);
}

.profile-banner {
  grid-area: profile-banner;
  position: relative;
}
.profile-banner-overlay {
  position: absolute;
  bottom: 0;
  padding-left: 5%;
  display: flex;
  width: 95%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  padding-top: 20px;
  padding-bottom: 5px;
}
.profile-banner-information {
  text-align: left;
  padding-left: 1em;
  color: white;
  width: 100%;
  max-width: max-content;

  .profile-name {
    font-size: 3em;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: rgba(56, 18, 42, 0.8);
  }
  .profile-nick {
    font-size: 1.75em;
    max-width: max-content;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(56, 18, 42, 0.8);
  }
}
.profile-banner-image {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--pink);
}
.profile-avatar-image {
  left: 5%;
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, var(--blue), var(--pink)) border-box;
  border-radius: 50%;
  border: 6px solid transparent;
}
.profile-content {
  grid-area: profile-content;
  display: flex;
  flex-flow: row wrap;
  color: black;
  width: 98%;
  justify-content: space-evenly;
  gap: 50px;
  justify-self: center;
}
.profile-sidebar {
  min-width: 25%;
  flex-basis: 40%;
}
.profile-feed {
  min-width: 45%;
  flex-grow: 1;
  flex-basis: 50%;
}
.profile-banner-button {
  background-color: var(--black);
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  border-radius: 15px;
  margin-right: 10px;
  outline: 2px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
}
.text-button {
  max-width: max-content;
  line-height: 4rem;
}
.profile-banner-button:hover {
  background: linear-gradient(to bottom right, var(--blue), var(--pink));
  cursor: pointer;
}
.profile-buttons {
  display: flex;
  right: 5px;
  align-items: flex-end;
  padding-top: 2%;
  width: 80%;
  flex-basis: 100%;
  form {
    flex: 1 1 0;
    box-sizing: border-box;
    display: inline;
  }
}
.profile-sidebar-info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
  .information-row {
    max-width: 100%;
  }
  .images-preview {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    height: auto;
    gap: 5px;
    .image-box {
      img {
        border-radius: 5px;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
